body {
  font-family: arial, sans-serif;
  font-size: small;
  margin: 0;
}

.header {
  height: 60px;
  min-width: 1024px;
}

.upper-menu {
  position: relative;
  margin: auto;
  float: right;
  right: 24px;
}

.upper-menu .text {
  opacity: 0.75;
  position: relative;
  bottom: 10px;
  right: 8px;
}

.google {
  position: relative;
  top: 138px;
  width: 400px;
  margin: auto;
}

#google-logo {
  text-align: center;
}

.google #country {
  color: #4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
  position: relative;
  left: 279px;
  bottom: 35px;
}

.search-field {
  position: relative;
  right: 85px;
  bottom: 30px;
  width: 582px;
}

.search-bar-icons {
  position: relative;
  left: 422px;
  bottom: 70px;
}

.center-buttons {
  margin: auto;
  position: relative;
  width: 250px;
  bottom: 30px;
}

#left-button {
  position: relative;
  float: left;
  width: 120px;
  height: 36px;
}

#right-button {
  position: relative;
  float: right;
  bottom: 15px;
  width: 120px;
  height: 36px;
}

#left-button, #right-button {
  font-family: arial,sans-serif;
  font-weight: bold;
  color: #646464;
  background-color: #eee;
  font-size: 13px;
  border: 1px solid #f2f2f2;
}

#left-button:hover {
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#right-button:hover {
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.google-info a {
  text-decoration: none;
}

#keyboard-search {
  margin-right: 10px;
  margin-bottom: 7px;
  }

#voice-search {
  width: 24px;
  padding-left: 5px;
}

#search {
  background-color: #fff;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  border: none;
}

#text-centered {
  position: absolute;
  left: 30%;
}

#text-centered a {
  text-decoration: none;
  padding: 0 3px;
}

#text-centered a:hover {
  text-decoration: underline;
}

.bottom-bar {
  position: absolute;
  background-color: #f2f2f2;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  min-width: 1024px;
}

.bottom-bar .left {
  position: relative;
  float: left;
  margin: auto;
  left: -40px;

}
.bottom-bar .right {
  position: relative;
  float: right;
  margin: auto;
  right: 20px;
}

.bottom-bar a {
  color: #666;
  padding: 12px 5px 12px 27px;
}

.bottom-bar ul {
  margin: 0;
}

div li {
  display: inline;
}

div li:hover {
  text-decoration: underline;
}

#avatar {
  border-radius: 50%
}

#notification {
  height: 27px;
  opacity: 0.50;
  margin: 2px 2px;
}

#notification:hover {
  opacity: 1;
}

#menu-icon {
  height: 20px;
  opacity: 0.7;
  margin: 0 5px 5px 0;
}

#menu-icon:hover {
  opacity: 1;
}

li a {
  text-decoration: none;
  padding: 0 5px;
  color: #000;
}
